$global-fonts: (
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-hairline-webfont",
    font-weight: 100,
    font-style: null,
    font-extensions: eot woff2 woff ttf svg
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-ultralight-webfont",
    font-weight: 200,
    font-style: null,
    font-extensions: eot woff2 woff ttf
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-light-webfont",
    font-weight: 300,
    font-style: null,
    font-extensions: eot woff2 woff svg
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-regular-webfont",
    font-weight: 400,
    font-style: null,
    font-extensions: eot woff2 ttf svg
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-semibold-webfont",
    font-weight: 500,
    font-style: null,
    font-extensions: eot woff ttf svg
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-bold-webfont",
    font-weight: 600,
    font-style: null,
    font-extensions: woff2 woff ttf svg
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-extrabold-webfont",
    font-weight: 700,
    font-style: null,
    font-extensions: eot
  ),
  (
    font-name: "Montserrat",
    font-route: "../fonts/montserrat-black-webfont",
    font-weight: 800,
    font-style: null,
    font-extensions: svg
  )
);